.normal {
  width: 100%;
}
.screenRecord {
  width: 50%;
}
.screenRecordBus{
  width: 100%;
}
// .mat-horizontal-stepper-header .mat-step-icon {
//   display: none !important;
// }
// .mat-dialog-container {
//   padding: 0 !important;
// }
