.scroll-down{
  // transform: translate3d(0, -100%, 0);
  // opacity: 1 !important;
  // visibility: visible !important;
  top: -80px;
}
.scroll-up {
  top: 0 !important;
}
.nothing{
  // opacity: 1;
  // visibility: visible;
  top: 0 !important;
}
.main {
  height: 1075px;
  width: 100%;
  // transform: translate3d(0, -100%, 0);
}
.mat-tool-div {
  display: flex;
  justify-content: flex-end;
  z-index: 99;
  background: #FCE9D7;
  color: #bb671c;
  // text-shadow: 2px 2px lightGrey;
  text-shadow: 2px 2px #fff;
  position: fixed;
  z-index: 999;
  top: -80px;
  // opacity: 0;
  // transition: transform 0.4s;
  transition: top 0.3s linear;
}
.tool-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  margin-right: 30px;
  z-index: 999;
}
.header {
  text-decoration: none;
}
.mat-toolbar {
  font-size: 34px !important;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.firstSection {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.background {
  height: 100%;
  width: 100%;
}
.gif {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  z-index: -1;
}
.greeting {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 0;
}
.greeting a {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 34px;
  font-family: Garamond, Helvetica;
  font-weight: bold;
  color: #bb671c;
  text-align: center;
}
.shadow {
  // text-shadow: 2px 2px lightGrey;
  text-shadow: 2px 2px #fff;
}
.me{
  color: #bb671c;
  text-shadow: 2px 2px #fff;
}
.mat-raised-button {
  font-family: Garamond, Helvetica;
  font-size: 34px;
  padding: 12px 20px;
  font-weight: bold;
  color: #bb671c;
  margin-top: 3vh;
}
.mat-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}
.aboutMe{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 100vh;
}
.meImage {
  height: 240px;
  width: 320px;
  border-radius: 180px;
  object-fit: cover;
}
.thisGuy {
  text-shadow: none;
  text-align: center;
  // color: #ffdab3;
  color: #bb671c;
  margin: 4vh 2vw;
}
p {
  font-family: Garamond, Helvetica;
  font-size: 24px;
  text-align: center;
  line-height: 1.42857143;
}
.description {
  color: #545454;
  width: 50vw;
}
a {
  // color: #ffe6cc;
  color: #bb671c;
}
.white {
  color: white;
}
.work {
  width: 100%;
  height: 125vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
}
.one {
  top: 200vh;
  background: #FCE9D7;
}
.two {
  top: 325vh;
  background: #fe871d;
}
.three {
  top: 450vh;
  background: #E8EDF7;
}
.four {
  top: 575vh;
  background: #FCBA22;
}
.five {
  top: 700vh;
  background: #3880ff;
}
.six {
  top: 825vh;
  background: #FF2878;
}
#contact {
  top: 950vh;
  width: 100%;
  padding: 15vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  text-align: center;
}
#contact div {
  width: 850px;
}
#contact button {
  background: #FCE9D7;
  color: #bb671c;
  font-size: 30px;
  font-weight: 300;
  padding: 20px 35px;
  border-radius: 10px;
  margin-top: 4vh;
}
#contact .mat-icon{
  font-size: 30px;
  height: 34px;
  width: 30px;
}
#contact p{
  color: black;
  margin-bottom: 0;
  margin-right: 0;
}
#contact h1{
  font-size: 44px;
  margin-bottom: 4vh;
  margin-right: 0;
  font-weight: 400;
}
#contact h3{
  font-size: 34px;
  line-height: 1.1;
}
.imageDiv{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.phone {
  height: 60vh;
}
.iphone{
  margin-right: -130px;
  z-index: 99;
}
.website {
  height: 50vh;
  // box-shadow: 10px 10px 5px 0px rgba(211, 211, 211);
  // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 6vh;
}
.droid{
  margin-left: -130px;
  transform: rotate(20deg);
  z-index: 98;
}
.ribittTitle {
  color: #bb671c;
}
.businessTitle {
  color: #638BB3;

}
.ribitt {
  color: #AA6B51;
}
.ribittSubtitle {
  color: white;
  text-shadow: 2px 2px lightGrey;
}
.sub-title {
  // color: white;
  font-size: 27px;
  font-family: Garamond, Helvetica;
  margin: 0 2.5vw 4vh;
  // font-weight: bold;
}
.product-description {
  font-weight: 400;
  width: 50vw;
}
@media only screen and (max-width: 1024px) {
  .website {
    height: 40vh;
  }
  .phone {
    height: 50vh;
  }
  .product-description {
    width: 75vw;
  }
  .description {
    width: 75vw;
  }
  .gif {
    object-fit: cover;
  }
  .iphone{
    margin-right: -90px;
  }
  .droid{
    margin-left: -90px;
  }
}
@media only screen and (max-width: 768px) {
  .mat-toolbar {
    font-size: 20px !important;
  }
  .tool-div{
    width: 215px;
    margin-right: 0px;
  }
  h1 {
    // font-size: 24px;
    margin: 0 2.5vw;
  }
  .mat-raised-button {
    font-size: 24px;
  }
  .gif {
    object-fit: cover;
  }
  .meImage {
    height: 180px;
    width: 240px;
    border-radius: 180px;
    object-fit: cover;
  }
  p {
    // font-size: 18px;
  }
  .sub-title {
    font-size: 22px;
    text-align: center;
  }
  .iphone{
    margin-right: -90px;
    z-index: 99;
  }
  .droid{
    margin-left: -90px;
    transform: rotate(20deg);
    z-index: 98;
  }
  .website {
    height: 30vh;
  }
  .phone {
    height: 45vh;
  }
  .product-description {
    width: 95vw;
  }
  .description {
    width: 95vw;
  }
  .gif {
    object-fit: cover;
  }
  #contact {
    width: 100%;
    padding: 15vh 0;
  }
  #contact div {
    width: 80vw;
  }
  #contact button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 4vh;
    width: 80vw;
  }
  #contact p{
    margin-bottom: 0;
    margin-right: 0;
  }
  #contact h1{
    font-size: 40px;
    margin-bottom: 4vh;
    margin-right: 0;
    margin-left: 0;
  }
  #contact h3{
    font-size: 30px;
    line-height: 1.1;
  }
  #contact .mat-icon{
    font-size: 24px;
    height: 28px;
    width: 24px;
  }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .mat-toolbar {
    font-size: 20px !important;
  }
  .tool-div{
    width: 215px;
    margin-right: 0px;
  }
  h1 {
    font-size: 20px;
    margin: 0 2.5vw;
  }
  .mat-raised-button {
    font-size: 20px;
  }
  .gif {
    object-fit: cover;
  }
  .meImage {
    height: 105px;
    width: 140px;
    border-radius: 180px;
    object-fit: cover;
  }
  p {
    font-size: 15px;
  }
  .sub-title {
    font-size: 18px;
    text-align: center;
  }
  .iphone{
    margin-right: -70px;
    z-index: 99;
  }
  .droid{
    margin-left: -70px;
    transform: rotate(20deg);
    z-index: 98;
  }
  .website {
    height: 25vh;
  }
  .phone {
    height: 33vh;
  }
  .product-description {
    width: 95vw;
  }
  .description {
    width: 95vw;
  }
  #contact {
    width: 100%;
    padding: 15vh 0;
  }
  #contact div {
    width: 80vw;
  }
  #contact button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 4vh;
    width: 80vw;
  }
  #contact p{
    margin-bottom: 0;
    margin-right: 0;
  }
  #contact h1{
    font-size: 30px;
    margin-bottom: 4vh;
    margin-right: 0;
    margin-left: 0;
  }
  #contact h3{
    font-size: 22px;
    line-height: 1.1;
  }
  #contact .mat-icon{
    font-size: 20px;
    height: 24px;
    width: 20px;
  }
}
@media only screen and (max-width: 736px)
and (orientation: landscape) {
  .mat-toolbar {
    font-size: 20px !important;
  }
  .tool-div{
    width: 215px;
    margin-right: 0px;
  }
  h1 {
    font-size: 24px;
    margin: 0 2.5vw;
  }
  .mat-raised-button {
    font-size: 24px;
  }
  .gif {
    object-fit: cover;
  }
  .meImage {
    height: 180px;
    width: 240px;
    border-radius: 180px;
    object-fit: cover;
  }
  p {
    font-size: 18px;
  }
  .sub-title {
    font-size: 22px;
    text-align: center;
  }
  .iphone{
    margin-right: -30px;
    z-index: 99;
  }
  .droid{
    margin-left: -30px;
    transform: rotate(20deg);
    z-index: 98;
  }
  .website {
    height: 45vh;
  }
  .phone {
    height: 35vh;
  }
  .product-description {
    width: 95vw;
  }
  .description {
    width: 95vw;
  }
  #contact {
    width: 100%;
    padding: 15vh 0;
  }
  #contact div {
    width: 80vw;
  }
  #contact button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 4vh;
    width: 80vw;
  }
  #contact p{
    margin-bottom: 0;
    margin-right: 0;
  }
  #contact h1{
    font-size: 34px;
    margin-bottom: 4vh;
    margin-right: 0;
    margin-left: 0;
  }
  #contact h3{
    font-size: 24px;
    line-height: 1.1;
  }
  #contact .mat-icon{
    font-size: 20px;
    height: 24px;
    width: 20px;
  }
}
@media only screen and (max-width: 670px)
and (orientation: landscape) {
  .mat-toolbar {
    font-size: 20px !important;
  }
  .tool-div{
    width: 215px;
    margin-right: 0px;
  }
  h1 {
    font-size: 22px;
    margin: 0 2.5vw;
  }
  .mat-raised-button {
    font-size: 22px;
  }
  .gif {
    object-fit: cover;
  }
  .meImage {
    height: 105px;
    width: 140px;
    border-radius: 180px;
    object-fit: cover;
  }
  p {
    font-size: 16px;
  }
  .sub-title {
    font-size: 19px;
    text-align: center;
  }
  .iphone{
    margin-right: -30px;
    z-index: 99;
  }
  .droid{
    margin-left: -30px;
    transform: rotate(20deg);
    z-index: 98;
  }
  .website {
    height: 45vh;
  }
  .phone {
    height: 45vh;
  }
  .product-description {
    width: 95vw;
  }
  .description {
    width: 95vw;
  }
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .mat-toolbar {
      font-size: 20px !important;
    }
    .tool-div{
      width: 215px;
      margin-right: 0px;
    }
    h1 {
      font-size: 20px;
      margin: 0 2.5vw;
    }
    .mat-raised-button {
      font-size: 20px;
    }
    .greeting .mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
    .gif {
      object-fit: cover;
    }
    .meImage {
      height: 105px;
      width: 140px;
      border-radius: 180px;
      object-fit: cover;
    }
    p {
      font-size: 15px;
    }
    .sub-title {
      font-size: 18px;
      text-align: center;
    }
    .iphone{
      margin-right: -50px;
      z-index: 99;
    }
    .droid{
      margin-left: -50px;
      transform: rotate(20deg);
      z-index: 98;
    }
    .website {
      height: 20vh;
    }
    .phone {
      height: 25vh;
    }
    .product-description {
      width: 95vw;
    }
    .description {
      width: 95vw;
    }
    #contact {
      width: 100%;
      padding: 15vh 0;
      top: 660vh !important;
    }
    #contact div {
      width: 80vw;
    }
    #contact button {
      font-size: 20px;
      padding: 10px 20px;
      margin-top: 4vh;
      width: 80vw;
    }
    #contact p{
      margin-bottom: 0;
      margin-right: 0;
    }
    #contact h1{
      font-size: 30px;
      margin-bottom: 4vh;
      margin-right: 0;
      margin-left: 0;
    }
    #contact h3{
      font-size: 22px;
      line-height: 1.1;
    }
    #contact .mat-icon{
      font-size: 20px;
      height: 24px;
      width: 20px;
    }
    .aboutMe {
      height: 80vh !important;
    }
    .work {
      height: 80vh !important;
    }
    .one {
      top: 180vh !important;
    }
    .two {
      top: 260vh !important;
    }
    .three {
      top: 340vh !important;
    }
    .four {
      top: 420vh !important;
    }
    .five {
      top: 500vh !important;
    }
    .six {
      top: 580vh !important;
    }
}

@media only screen
  and (max-device-width: 823px)
  and (orientation: landscape) {
    .mat-toolbar {
      font-size: 20px !important;
    }
    .tool-div{
      width: 215px;
      margin-right: 0px;
    }
    h1 {
      font-size: 22px;
      margin: 0 2.5vw;
    }
    .mat-raised-button {
      font-size: 22px;
    }
    .gif {
      object-fit: cover;
    }
    .meImage {
      height: 105px;
      width: 140px;
      border-radius: 180px;
      object-fit: cover;
    }
    p {
      font-size: 16px;
    }
    .sub-title {
      font-size: 19px;
      text-align: center;
    }
    .iphone{
      margin-right: -30px;
      z-index: 99;
    }
    .droid{
      margin-left: -30px;
      transform: rotate(20deg);
      z-index: 98;
    }
    .website {
      height: 45vh;
    }
    .phone {
      height: 45vh;
    }
    .product-description {
      width: 95vw;
    }
    .description {
      width: 95vw;
    }
    #contact {
      width: 100%;
      padding: 15vh 0;
    }
    #contact div {
      width: 80vw;
    }
    #contact button {
      font-size: 20px;
      padding: 10px 20px;
      margin-top: 4vh;
      width: 80vw;
    }
    #contact p{
      margin-bottom: 0;
      margin-right: 0;
    }
    #contact h1{
      font-size: 30px;
      margin-bottom: 4vh;
      margin-right: 0;
      margin-left: 0;
    }
    #contact h3{
      font-size: 22px;
      line-height: 1.1;
    }
    #contact .mat-icon{
      font-size: 20px;
      height: 24px;
      width: 20px;
    }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  #contact {
    width: 100%;
    padding: 15vh 0;
    top: 800vh
  }
  .aboutMe {
    height: 100vh;
  }
  .work {
    height: 100vh
  }
  .one {
    top: 200vh;
  }
  .two {
    top: 300vh;
  }
  .three {
    top: 400vh;
  }
  .four {
    top: 500vh;
  }
  .five {
    top: 600vh;
  }
  .six {
    top: 700vh;
  }
}
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #contact {
      width: 100%;
      padding: 15vh 0;
      top: 720vh
    }
    .aboutMe {
      height: 90vh;
    }
    .work {
      height: 90vh
    }
    .one {
      top: 190vh;
    }
    .two {
      top: 280vh;
    }
    .three {
      top: 370vh;
    }
    .four {
      top: 460vh;
    }
    .five {
      top: 540vh;
    }
    .six {
      top: 630vh;
    }
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #contact {
      width: 100%;
      padding: 15vh 0;
      top: 750vh
    }
    .aboutMe {
      height: 95vh;
    }
    .work {
      height: 95vh
    }
    .one {
      top: 180vh;
    }
    .two {
      top: 275vh;
    }
    .three {
      top: 370vh;
    }
    .four {
      top: 465vh;
    }
    .five {
      top: 560vh;
    }
    .six {
      top: 655vh;
    }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .phone{
      height: 39vh;
    }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .phone{
      height: 38vh;
    }
    .website {
      height: 32vh;
    }
}
.business {
  color: white;
}
.busWebsite {
  color: #6D8891;
}
.emailAnchor{
  text-decoration: none;
}
